.flex {
    display: flex;
    flex-direction: row;

    .self-pr {
      color: #fff;
      display: flex;
      flex: 3;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 18px;
      line-height: 20px;
    }
    @media screen and (max-width: 425px) {
      .self-pr {
        flex: 10;
      }
    }
    @media screen and (max-width: 768px) and (min-width: 426px) {
      .self-pr {
        flex: 5;
      }
    }
    @media screen and (min-width: 769px) {
      .self-pr {
        font-size: 25px;
        line-height: 30px;
      }
    }
    @media screen and (min-width: 1025px) and (max-width: 1440px){
      .self-pr {
        font-size: 20px;
        line-height: 35px;
      }
    }
    @media screen and (min-width: 1441px) {
      .self-pr {
        font-size: 30px;
        line-height: 35px;
      }
    }
    .blank {
      display: flex;
      flex: 1;
    }
}
