.flex {
    display: flex;
    flex-direction: row;

    .self-pr {
      color: #fff;
      display: flex;
      flex: 3;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 15;
    }

    .blank {
      display: flex;
      flex: 1;
    }
}