.todo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .todo-card-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    .todo-card-link {
      text-decoration: none;
      .card-item {
        margin-top: 50px;
        width: 300px;
        height: 400px;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .image {
            width: 150px;
            height: 150px;
          }
          .title {
            font-size: 20px;
            display: flex;
          }
          .sub-images {
            display: flex;
            flex-direction: row;
            .sub-img {
              width: 80px;
              height: 90px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
.todo-card {
  flex-direction: column;
}
}