.todo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .todo-card-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    .todo-card-link {
      text-decoration: none;
      .card-item {
        margin-top: 50px;
        width: 300px;
        height: 400px;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .image {
            width: 150px;
            height: 150px;
          }
          .title {
            font-size: 20px;
            display: flex;
          }
          .sub-images {
            display: flex;
            flex-direction: row;
            .sub-img {
              width: 80px;
              height: 90px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
.todo-card {
  flex-direction: column;
}
}

.sample-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .card {
    max-width: 400px;
    flex-direction: column;
    .media {
      //height: 0;
      //padding-top: 56.25%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow: hidden;
      .gridList {
        flex-wrap: nowrap;
        transform: translateZ(0);
      }
    }
    .actions {
      display: flex;
      justify-content: space-between;
      .MuiFormControlLabel-root-140 {
        margin-right: -5px;
        margin-left: 0px;
        margin-top: 0px;
      }
    }
    .develop-tech {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}