// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
	background-color: #dc143c;
	padding: 100px 0;
	display:-webkit-flex;
	display:flex;
	flex-direction: row;
	.card {
		width: 500px;
		height: 200px;
		margin: 0 auto;
		display:-webkit-flex;
		display:flex;
		flex-direction: row;
	}
	.icon {
		width: 150px;
		height: 150px;
		margin-top: 10px;
	}
	.detail {
		margin-top: 10px;
		.name {
			margin-right: 30px; 
		}
	}
}